@model Chatapp.Models.USER

@{
    ViewBag.Title = "Login";
    
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="~/Content/image/favicon.ico">
<style>
    body {
        font-family: 'Times New Roman', sans-serif;
        background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/12848379/original_cec351b75e6f0fd55086ba5d6451b681.gif?1629024498');
        background-position: center;
        height: 100vh;
    }

    .login-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-box {
        
        background-color: rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
    }

        .login-box h1 {
            color: lightpink;
            margin-bottom: 20px;
        }

        .login-box input {
            display: flex;
            margin-left: auto;
            margin-right: auto;
/*            margin-bottom: 20px;*/
            margin-top: 20px;
            max-width: 80%;
            padding: 20px;
        }

        .login-box button {
            width: 80%;
            margin: 20px 10px 20px 10px;
            background-color: #1877f2;
            border: none;
            padding: 10px;
            color: white;
            font-size: 16px;
            border-radius: 5px;
        }

            .login-box button:hover {
                background-color: #0056b3;
            }
</style>
</head>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <body>
        <div class="login-container">
            <div class="login-box text-center">
                <h1 style="color:antiquewhite"><b>Đăng nhập</b></h1>
                <h3 style="color:antiquewhite">Tự họp mọi lúc, mọi nơi</h3>
                <form action="/account/login">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập" required>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" required>
                    <button type="submit">Đăng nhập</button>
                    @if (ViewBag.Fail != null)
                    {
                        <p class="text-right" style="color:red;text-align:center;">@ViewBag.Fail</p>
                    }
                    <p class="text-right" style="text-align:center"><a href="#" data-toggle="modal" data-target="#exampleModal">Bạn quên mật khẩu?</a></p>

                    <p class="text-right" style="color:antiquewhite; text-align:center">
                        Bạn chưa có tài khoản
                        <a href="/account/register" class="btn btn-primary">Đăng ký</a>
                    </p>

                </form>
            </div>
        </div>
        <!--Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--can giua phuong thuc theo chieu doc-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Quên Mật Khẩu</h2>
                        <button type="button" style="top:20px; right:20px" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/account/login">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="account" class="form-label">Tên đăng nhập</label>
                                <input type="text"
                                       class="form-control"
                                       id="username1"
                                       name="username1"
                                       placeholder="Tên đăng nhập"
                                       minlength="8"
                                       @*value="@Model.USERNAME"*@
                                       style=" margin: 0 auto" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label">Mật khẩu</label>
                                <input type="password"
                                       class="form-control"
                                       id="password1"
                                       name="password1"
                                       placeholder="Mật khẩu"
                                       minlength="8"
                                       @*value="@Model.PASSWORD"*@
                                       style=" margin: 0 auto" required>
                            </div>
                            <div class="form-group">
                                <label for="confirm-password" class="form-label">Xác nhận mật khẩu</label>
                                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Xác nhận mật khẩu" style=" margin: 0 auto" required>
                            </div>
                            @if (ViewBag.Fails != null || ViewBag.Fail != null)
                            {
                                <p class="text-right" style="color:red">@ViewBag.Fails</p>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Save</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
}
</html>
